body {
    background-color: #F5F5F5 !important;
    font-family: 'Space Grotesk', sans-serif !important;
}

p {
    font-family: 'Space Grotesk', sans-serif !important;
}

h1 {
    font-family: 'Space Grotesk', sans-serif !important;
}

a {
  font-family: 'Space Grotesk', sans-serif !important;
  text-decoration: none !important;
}

input[type=text] {
    padding: 12px 20px;
    width: 30vw;
    height: 10vh;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #DCDCDC;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 8px;
    color: #111111;
    background-color: #F5F5F5;
    font-family: 'Space Grotesk', sans-serif !important;
  }

  @media only screen and (max-width: 600px) {
    input[type=text] {
    width: 80vw !important;
    height: 7.5vh !important;
  }
    .show-container {
      width: 80vw !important;
    }
    .list-border {
      width: 80vw !important;
    }
  }
  
  input[type=text]:focus {
    border: 1px solid #979797;
  }

  .hover {
    transition: 0.7s;
  }
  
  .hover:hover {
    background-color: #DCDCDC;
  }

  .list-border {
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
  }

  .show-container {
    border: 1px solid #DCDCDC;
    width: 50vw;
    height: 50vh;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    overflow-y: scroll;
  }

  .copyContainer:hover + .hide {
    display: block;
  }

  pre {
    color: #d2d2d2;
  }

  .hide {
    display: none;
  }

  .jname {
    color: #97d7fa;
  }

  .jvalue {
    color: #cf9176;
  }

  .jbvalue {
    color: #4c8bc0;
  }

  .jivalue {
    color: #b0cba4;
  }

  .darkchar {
    color: #797979;
  }

  .hdarkblue {
    color: #4e90c9;
  }

  .hlightblue {
    color: #99dbff;
  }

  .horange {
    color: #cb8e74;
  }

  .corange {
    color: #d5b87c;
  }

  .jyellow {
    color: rgb(217,217,168);
  }

  .jgreen {
    color: rgb(77,197,172);
  }

  .cpurple {
    color: rgb(194,132,189);
  }

  .cdarkgreen {
    color: rgb(106,153,85);
  }

  .closing:hover {
    cursor: url("images/close.svg"), auto !important;
  }