h1 {
    font-family: 'Space Grotesk', sans-serif !important;
}
.button {
    transition: 0.7s;
}
.button:hover {
    background-color: black;
}
input[type=text] {
    padding: 12px 20px;
    border: 1px solid #DCDCDC;
}
@media only screen and (max-width: 600px) {
    span a {
      width: 80vw;
    }
}       
/* This is
a comment */